@import "tailwindcss";

@theme inline {
  --color-background: var(--color-stone-50);
  --color-background-accent: var(--color-stone-200);
  --color-foreground: var(--color-stone-950);
  --color-foreground-accent: var(--color-stone-700);
  --color-primary: var(--color-stone-950);
  --color-primary-foreground: var(--color-stone-50);
  --color-primary-accent: var(--color-stone-800);
  --color-border: var(--color-stone-300);
}

@layer base {
  body {
    @apply bg-background text-foreground min-h-screen antialiased;
  }
}
